[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
opencv-python = "*"
wordcloud = {path = "./pyLibs/wordcloud-1.8.1-cp39-cp39-win_amd64.whl"}

[dev-packages]

[requires]
python_version = "3.9"
